@charset "utf-8";
/* CSS Document */

#paginainicio
{
background:#FFF;
}
#titulo
{
background:#333;
}
#pienombre
{
background:#333;
}
#fondo
{
	background:#FF9;
}
#estilo1
{
	background:#033;
}
#estilo2
{
	background:#F30;
}
#estilo3
{
	background:#F33;
}
#estilo4
{
	background:#096;
}
#estilo5
{
	background:#933;
}
#estilo6
{
	background:#C97;
}
#estilo7
{
	background:#636;
}
#estilo8
{
	background:#099;
}
#estilo9
{
	background:#336;
}
#estilo10
{
	background:#C60;
}
#estilo11
{
	background:#966;
}

